$error-color: rgb(255, 81, 81);

@mixin field {
    -webkit-appearance: none;
    outline: none;
    border: none;
    height: 30px;
    margin-bottom: 15px;
}

@mixin flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}

@mixin flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex-wrap{
    @include flex-wrap()
}

.flex-center{
    @include flex-center()
}

.flex-start{
    @include flex-start()
}

.form-container{
    @include flex-column();
    width: 100%;
    max-width: 400px;
    background:  #3a4046d2;
    border: 2px solid black;
    box-shadow: -2px 6px 8px #000000;
    color: white;
    padding: 15px;
    border-radius: 4px;
    margin: 20px;
    .whole-width{
        width: 100%;
    }
    .submit-block{
        margin-top: 40px;
    }
    .title{
        font-size: 1.8rem;
        margin-bottom: 40px;
    }
    .form{
        width: 100%;
    }
    .form{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .center{
        @include flex-column();
        justify-content: center;
        align-items: center;
    }
}
