$breakpoint-tablet: 800px;

@media (max-width: $breakpoint-tablet) {
  .dispatch-graph{
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: $breakpoint-tablet){
  .dispatch-graph{
    align-items: flex-start;
  }
}

.dispatch-graph{
    display: flex;
}