$breakpoint-tablet: 800px;

@media (max-width: $breakpoint-tablet) {
    .navbar{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px 0 5px 0;
        border-bottom: 1.5px solid #ffffff9e;
    }   
    .center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
    .fa-align-justify{
        position: absolute;
        font-size: 24px;
        left: 10px;
        top: 10px;
        color: white
    }
}
@media (min-width: $breakpoint-tablet + 1){
    .navbar{
        padding: 15px 25px;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        .center{
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
    }
}

.navbar{
    display: flex;
    font-weight: bold;
    transition: all .3s ease-out;
    margin-top: 0;
    opacity: 1;
    *{
        white-space: nowrap;
    }

    a{
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        margin: 0 30px;
        padding: 7px 0;
        transition: color 0.3s ease-out;
        &:hover{
            color:  #ff7066;
        }
    }
    .selected{
        color:  #ffde66;
        transition: border-bottom 0.1s ease-out;
    } 
    .left{
        width: 100%;
        text-align: end;
    }
}
.hide{
    margin-top: -30px;
    height: 60px;
    opacity: 0;
    visibility: hidden;
}
