@mixin chip {
    border-radius: 20px;
    padding: 5px;
    margin-right: 5px;
    font-size: .5rem;
    font-weight: bold;
    cursor: pointer;
}

.states-container{
    color: white;
    margin: 15px 0 10px 0;
    text-transform: uppercase;
    
    .update-state{
        @include chip();
        background: rgba(48, 113, 199, 0.658);
        &:hover{
            background: rgba(25, 89, 172, 0.678);
        }
    }
    .update-state-active{
        background: rgb(27, 126, 255);
        &:hover{
            background: rgb(9, 116, 255);
        }
    }
    .create-state{
        @include chip();
        background: rgba(190, 28, 95, 0.527);
        &:hover{
            background: rgb(211, 27, 103);
        }
    }
}